:root {
    --blue: #2c9fcc;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgba(0,0,0,0.5);
}

body {
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/bw-watercolor3-rev3.jpg');
    background-size: cover;
    -webkit-filter: brightness(85%);
    -moz-filter: brightness(85%);
    -o-filter: brightness(85%);
    -ms-filter: brightness(85%);
    filter: brightness(85%);
    z-index: -1;
}

.hero {
    min-height: 100vh;
}

.hero h1 {
    font-family: 'Rouge Script', cursive;
    font-size: 6rem;
    text-shadow: var(--shadow);
}

.hero h4 {
    font-size: 1.6rem;
    text-shadow: var(--shadow);
}

.hero p {
    font-size: 1.4rem;
    text-shadow: var(--shadow);
}

.hero a {
    color: var(--blue);
    background-color: white;
    box-shadow: var(--shadow);
}

.hero a:hover {
    color: white;
    background-color: var(--blue);
}

.simply-section {
    color: white;
}